<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo-component></app-logo-component>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container" style="text-align: justify;">
    <h2>Quiénes Somos</h2>
    <p>En <strong>World Games</strong>, nos dedicamos a ofrecer la mejor selección de juegos para todos los gustos, desde los clásicos que nos acompañaron en la infancia hasta los títulos más innovadores del mercado actual. Nuestro compromiso es proporcionar una experiencia de usuario excepcional, ayudando a cada jugador a encontrar su juego ideal.</p>

    <h3>Nuestra Historia</h3>
    <p>Fundada en 2023, nuestra app nació de la pasión por los videojuegos y el deseo de conectar a los jugadores de todo el mundo. Desde nuestros humildes comienzos, hemos crecido exponencialmente, ampliando nuestra biblioteca de juegos y mejorando constantemente nuestra plataforma para ofrecer un servicio de primera clase.</p>

    <h3>Nuestro Equipo</h3>
    <p>Contamos con un equipo diverso de entusiastas de los videojuegos, desarrolladores y diseñadores que trabajan incansablemente para asegurar que World Games siga siendo un referente en la industria. Cada miembro aporta su propio conjunto de habilidades y experiencia, lo que nos permite ofrecer no solo una selección de juegos, sino también contenido útil y recomendaciones personalizadas.</p>

    <h3>Nuestra Misión</h3>
    <p>Nuestra misión es crear una comunidad de jugadores donde todos se sientan bienvenidos. Queremos fomentar la amistad y el trabajo en equipo a través del juego, y creemos que cada jugador merece disfrutar de experiencias memorables. Con un enfoque en la accesibilidad y la diversidad, aspiramos a ser el lugar favorito para descubrir y compartir videojuegos.</p>

    <h3>Testimonios</h3>
    <p>"World Games me ha ayudado a encontrar los mejores juegos para mí, y siempre tengo nuevas recomendaciones a mi alcance. ¡No puedo imaginar mi experiencia de juego sin esta app!" - Usuario Satisfecho</p>
    <p>"La comunidad en World Games es increíble. He hecho amigos de todo el mundo solo jugando y disfrutando juntos." - Armando Esteban Quito</p>

    <h3>Contáctanos</h3>
    <p>Para más información, puedes contactarnos a través de nuestras redes sociales o escribirnos a nuestro correo electrónico: contacto&#64;worldgames.com. Estamos aquí para ayudarte y escuchar tus sugerencias, porque tu experiencia es nuestra prioridad.</p>
  </div>
</ion-content>
