<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let juego of juegos">
      <ion-thumbnail slot="start">
        <img [src]="juego.imagen" alt="{{ juego.titulo }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ juego.titulo }}</h2>
        <p>Precio: {{ juego.precio }} CLP</p>
        <p>{{ juego.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
