<mat-toolbar color="primary">
  <span>Lista de Juegos</span>
</mat-toolbar>

<app-search-and-filter (searchTermChange)="searchTerm = $event"></app-search-and-filter>

<div class="juegos-container">
  <mat-list>
    <mat-list-item *ngFor="let juego of filterJuegos()">
      <img mat-list-avatar [src]="juego.imagen" alt="{{ juego.titulo }}">
      <div class="juego-info">
        <h3 mat-line>{{ juego.titulo }}</h3>
        <p mat-line>Precio: {{ juego.precio }} CLP</p>
        <p mat-line>{{ juego.descripcion }}</p>
      </div>
    </mat-list-item>
  </mat-list>
</div>

