<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo-component></app-logo-component>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-button expand="full" (click)="loadTrivia()">Actualizar Preguntas</ion-button>
<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let question of triviaQuestions; let i = index">
      <ion-label>
        <h2>{{ question.question }}</h2>
        <ion-radio-group [(ngModel)]="selectedAnswer[i]" (ionChange)="checkAnswer(i)">
          <ion-item *ngFor="let option of getOptions(question)">
            <ion-label>{{ option }}</ion-label>
            <ion-radio [value]="option" [disabled]="isAnswered(i)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="triviaQuestions.length === 0" name="circles"></ion-spinner>
  <!-- Botón para ver el puntaje final -->
  <ion-button [disabled]="!isQuizCompleted()" (click)="showToast(getFinalScore(), 'primary')">
    Ver puntaje final
  </ion-button>
</ion-content>
