<ion-card>
  <img [src]="juego.imagen" alt="{{ juego.titulo }}">
  <ion-card-header>
    <ion-card-title>{{ juego.titulo }}</ion-card-title>
    <ion-card-subtitle>${{ juego.precio }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ juego.descripcion }}</p>
    <ion-button expand="full" color="primary" (click)="agregarAlCarrito()">Añadir al Carrito</ion-button>
    <ion-button expand="full" color="secondary" (click)="agregarAFavoritos()">Añadir a Favoritos</ion-button>
  </ion-card-content>
</ion-card>
