.game-item {
    transition: transform 0.3s ease; /* Tiempo de la transición */
    border: 1px solid #ccc; /* Ejemplo de borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    
    &:hover {
      transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
    }
  }

  ion-card {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }