<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo-component></app-logo-component>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen de usuario y mensaje de bienvenida -->
  <div class="user-info">
    <img src="../../assets/img/avatar.png" alt="User Avatar" class="user-avatar" />
    <h2><strong>Bienvenido/a, {{ email }}</strong></h2>
  </div>

  <!-- Barra de Segmento para cambiar entre diferentes vistas -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="perfil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
      <ion-segment-button value="experiencia-laboral">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Experiencia</ion-label>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  <!-- Contenido dinámico que cambia según el segmento seleccionado -->
  <div [ngSwitch]="selectedSegment">
    <app-mis-datos *ngSwitchCase="'perfil'"></app-mis-datos>
    <app-experiencia-laboral *ngSwitchCase="'experiencia-laboral'"></app-experiencia-laboral>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
  </div>
  
  <!-- Sección de Categorías de Juegos -->
  <h2 class="category-title">Categorías de Juegos</h2>
  
  <div class="game-list">
    <app-game-card 
      *ngFor="let juego of juegos" 
      [juego]="juego" 
      [mostrarPrecio]="false"
      [redireccionar]="true"
      [mostrarBotones]="false"
      [rutaRedireccion]="juego.ruta">
    </app-game-card>
  </div>

  <!-- Botón para navegar a Mis Datos -->
  
  <ion-button expand="full" (click)="navigateToMisDatos()">Ver Mis Datos</ion-button> <!-- Botón aquí -->
  <ion-button expand="full" (click)="navigateToCertificaciones()">Ver Certificaciones</ion-button> <!-- Botón aquí -->
  <ion-button expand="full" (click)="navigateToExperienciaLaboral()">Ver Experiencia Laboral</ion-button>
  
</ion-content>
