<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo-component></app-logo-component> <!-- Esto debería funcionar -->
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-card-title>Detalles de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content class="custom-card-content">
      <div id="user">
        <p>Usuario: {{ email }}</p>
        <ion-item class="input-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" [ngClass]="{'animate': isAnimating}" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido" [ngClass]="{'animate': isAnimating}" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Nivel de Educación</ion-label>
          <ion-input [(ngModel)]="nivelEducacion" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-item>

        <ion-button expand="full" (click)="mostrarInformacion()">Mostrar</ion-button>
        <ion-button expand="full" (click)="limpiarCampos()" class="clear-button">Limpiar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <!-- Card de la categoría de Terror -->
  <ion-card>
    <img src="../../assets/img/Terror.jpg" alt="Terror" />
    <ion-card-header>
      <ion-card-title>Terror</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Vive la emoción de los juegos de terror y enfréntate a tus peores miedos.
    </ion-card-content>
  </ion-card>

  <!-- Card de la categoría de Deportes -->
  <ion-card>
    <img src="../../assets/img/Deportes.jpg" alt="Deportes" />
    <ion-card-header>
      <ion-card-title>Deportes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Disfruta de los mejores juegos de deportes y desafía a tus amigos.
    </ion-card-content>
  </ion-card>

  <!-- Card de la categoría de Aventuras -->
  <ion-card>
    <img src="../../assets/img/Aventuras.jpg" alt="Aventuras" />
    <ion-card-header>
      <ion-card-title>Aventuras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Embárcate en grandes aventuras y descubre mundos fantásticos.
    </ion-card-content>
  </ion-card>


  <ion-list class="custom-list">
    <ion-list-header class="custom-list-header">
      <ion-label>Juegos Disponibles</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let producto of productos" (click)="mostrarAlerta(producto)" class="custom-list-item">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: ${{ producto.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
