<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo-component></app-logo-component> <!-- Esto debería funcionar -->
    </ion-buttons>
    <ion-title size="large">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-card-title>Detalles de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content class="custom-card-content">
      <div id="user">
        <p>Usuario: {{ email }}</p>
        <ion-item class="input-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" [ngClass]="{'animate': isAnimating}" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido" [ngClass]="{'animate': isAnimating}" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Nivel de Educación</ion-label>
          <ion-input [(ngModel)]="nivelEducacion" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-item>

        <ion-button expand="full" (click)="mostrarInformacion()">Mostrar</ion-button>
        <ion-button expand="full" (click)="limpiarCampos()" class="clear-button">Limpiar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  
</ion-content>



