<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo-component></app-logo-component>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-card-title>Detalles de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content class="custom-card-content">
      <div id="user">
        <p>Usuario: {{ email }}</p>

        <ion-item class="input-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" [ngClass]="{'animate': isAnimating}" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido" [ngClass]="{'animate': isAnimating}" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label>Nivel de Educación</ion-label>
          <ion-select [(ngModel)]="nivelEducacion">
            <ion-select-option value="universitario">Universitario</ion-select-option>
            <ion-select-option value="magister">Magister</ion-select-option>
            <ion-select-option value="doctorado">Doctorado</ion-select-option>
            <ion-select-option value="secundaria">Secundaria</ion-select-option>
            <ion-select-option value="tecnico">Técnico</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="direccion" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Calle</ion-label>
          <ion-input [(ngModel)]="calle" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input [(ngModel)]="ciudad" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-item>

        <ion-button expand="full" (click)="guardar()">Guardar Cambios</ion-button>
        <ion-button expand="full" (click)="limpiarCampos()" class="clear-button">Limpiar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>



