<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <app-logo-component></app-logo-component>
    </ion-buttons>
    
    <ion-title></ion-title> 

    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" class="custom-menu-button">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="category-title">Categoría: Aventuras</h2> 

  <div class="game-list">
    <app-game-card 
      *ngFor="let juego of juegos" 
      [juego]="juego"
      [mostrarPrecio]="true"
      [redireccionar]="false" 
      [mostrarBotones]="false">
    </app-game-card>
  </div>
</ion-content>
